<%- include('partials/header.ejs') %>

    <div class="welcome_main page_special">
        <section class="internal_header">

            <div class="internal_header_skeleton">
                <div class="store_sell_button">
                    <a href="/travel_add" class="store_sell">Look FOR A TRAVELMATE!

                    </a>
                    <img src="/images/rocket_color.png" alt="" class="ihs_symbol">
                </div>

                <div class="border_line"> </div>

                <div class="ihs_inner">
                    <form action="/search_destination" method="GET">
                        <input type="text" name="place" value="Search Destination" class="search_items">
                        <button type="submit" class="search_icon_bg">
                            <img src="/images/search.png" class="search_icon" alt="">
                        </button>
                    </form>

                </div>

                <div class="border_line"> </div>

                <div class="ihs_inner">
                    <a href="#" class="ihs_filter">
                        <img src="/images/filter.png" class="ihs_sym_img" alt="">
                        <h6 class="filter_link">APPLY FILTERS</h6>
                    </a>

                    <div class="border_line"> </div>

                    <a href="#" class="ihs_filter">
                        <img src="/images/offer_icon.png" class="ihs_sym_img" alt="">
                        <h6 class="filter_link">OFFERS</h6>
                    </a>

                    <div class="border_line"> </div>

                    <a href="#" class="ihs_filter">
                        <img src="/images/chat.png" class="ihs_sym_img" alt="">
                        <h6 class="filter_link">MESSAGES</h6>
                    </a>

                    <div class="border_line"> </div>

                    <a href="#" class="ihs_filter_special">
                        <img src="/images/sort.png" class="ihs_sym_img" alt="">
                        <h6 class="filter_link">SORT BY</h6>
                    </a>



                </div>
            </div>

        </section>


        <div class="list">
            <% if (travels.length> 0) { %>
                <% travels.forEach(function(item) { %>
                    <div class="box_items">
                        <div class="box_sub">
                            <div class="upper_nested">
                                <div class="vehicle">
                                    <h5 class="vehicle_heading_main">
                                        <%= item.car_name %>
                                    </h5>
                                    <h6 class="vehicle_subheading">
                                        <%= item.car_type %>
                                    </h6>
                                </div>
                                <div class="box_sub_2">
                                    <img src="/images/location.png" alt="" class="car_pool_icon2">
                                    <div class="sd_vehicle">
                                        <h6 class="vehicle_subheading">From</h6>
                                        <h5 class="vehicle_heading">
                                            <%= item.source %>
                                        </h5>
                                    </div>
                                    <div class="sd_vehicle">
                                        <div class="location_rocket">
                                            <img src="/images/rocket_icon.png" alt="" class="rocket_tilt">
                                        </div>
                                        <div class="duration">
                                            <h6 class="vehicle_heading">
                                                <%= item.duration %>
                                            </h6>
                                        </div>

                                    </div>


                                    <div class="sd_vehicle">
                                        <h6 class="vehicle_subheading">To</h6>
                                        <h5 class="vehicle_heading">
                                            <%= item.destination %>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="sub_lower">
                                <div class="sub_box_lower">
                                    <img src="/images/calendar.png" alt="" class="car_pool_icon1">
                                    <h5 class="vehicle_dandt">
                                        <%= item.date %>
                                    </h5>
                                </div>
                                <div class="sub_box_lower">
                                    <img src="/images/time.png" alt="" class="car_pool_icon1">
                                    <h5 class="vehicle_dandt">
                                        <%= item.time %>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="vehicle_right">
                            <div class="vacancies">
                                <h6 class="vehicle_subheading">Number of Vacancies: <%= item.vacancies %>
                                </h6>
                                <h5 class="vehicle_subheading">Price: <%= item.price %>
                                </h5>
                            </div>
                            <h4>Posted By: <%= item.name %>
                            </h4>
                            <div class="vehicle_buttons">
                                <a href="#" class="vehicle_button">Contact</a>
                                <a href="#" class="vehicle_button">Book</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                        <% } else { %>
                            <p>No Journeys Available.</p>
                            <% } %>
        </div>
    </div>

    <script>
        document.querySelectorAll('.vehicle_button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                const rocket = this.closest('.box_items').querySelector('.location_rocket');
                rocket.classList.add('rotate');
                setTimeout(() => {
                    rocket.classList.add('move');
                }, 500);
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var searchInput = document.querySelector('.search_items');
            searchInput.addEventListener('focus', function () {
                if (searchInput.value === 'Search Destination') {
                    searchInput.value = '';
                }
            });

            searchInput.addEventListener('blur', function () {
                if (searchInput.value === '') {
                    searchInput.value = 'Search Destination';
                }
            });
        });
    </script>

    <%- include('partials/footer.ejs') %>