<%- include('partials/header.ejs') %>

    <div class="welcome_main page_special">
        <section class="internal_header">

            <div class="internal_header_skeleton">
                <div class="store_sell_button">
                    <a href="/networking_add" class="store_sell">Pitch for your collab!

                    </a>
                    <img src="/images/rocket_color.png" alt="" class="ihs_symbol">
                </div>

                <div class="border_line"> </div>

                <div class="ihs_inner">
                    <form action="/search_idea" method="GET">
                        <input type="text" name="domain" value="Search Domain" class="search_items">
                        <button type="submit" class="search_icon_bg">
                            <img src="/images/search.png" class="search_icon" alt="">
                        </button>
                    </form>

                </div>

                <div class="border_line"> </div>

                <div class="ihs_inner">
                    <a href="#" class="ihs_filter">
                        <img src="/images/filter.png" class="ihs_sym_img" alt="">
                        <h6 class="filter_link">APPLY FILTERS</h6>
                    </a>

                    <div class="border_line"> </div>

                    <a href="#" class="ihs_filter">
                        <img src="/images/offer_icon.png" class="ihs_sym_img" alt="">
                        <h6 class="filter_link">OFFERS</h6>
                    </a>

                    <div class="border_line"> </div>

                    <a href="#" class="ihs_filter">
                        <img src="/images/chat.png" class="ihs_sym_img" alt="">
                        <h6 class="filter_link">MESSAGES</h6>
                    </a>

                    <div class="border_line"> </div>

                    <a href="#" class="ihs_filter_special">
                        <img src="/images/sort.png" class="ihs_sym_img" alt="">
                        <h6 class="filter_link">SORT BY</h6>
                    </a>



                </div>
            </div>

        </section>


        <div class="list">
            <% if (ideas.length> 0) { %>
                <% ideas.forEach(function(item) { %>

                    <div class="networking_item">
                        <div class="project_item title_color">
                            <h5 class="project_title">
                                <%= item.project_name %>
                            </h5>
                            <h6 class="project_title">
                                <%= item.project_domain %>
                            </h6>
                            <h6 class="project_title">
                                <%= item.outcome %>
                            </h6>
                        </div>

                        <div class="project_item project_mid">
                            <p class="project_description">
                                <%= item.description %>
                            </p>
                            <h6 class="project_requirement project_subtitle">Required: <%= item.requirement %>
                            </h6>
                        </div>

                        <div class="project_item project_last">
                            <h6 class="project_subtitle">Skills: <%= item.skills %>
                            </h6>

                            <h6 class="project_subtitle">Posted by: <%= item.name %>
                            </h6>

                            <a href="#" class="networking_button">Connect</a>

                        </div>



                    </div>
                    <% }); %>
                        <% } else { %>
                            <p>No Journeys Available.</p>
                            <% } %>

        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var searchInput = document.querySelector('.search_items');
            searchInput.addEventListener('focus', function () {
                if (searchInput.value === 'Search Domain') {
                    searchInput.value = '';
                }
            });

            searchInput.addEventListener('blur', function () {
                if (searchInput.value === '') {
                    searchInput.value = 'Search Domain';
                }
            });
        });
    </script>

    <%- include('partials/footer.ejs') %>